venv/
aws-cdk-examples/
testing/
*__pycache__
users
README.md.bak
set_stack_env_vars
infrastructure/cdk_template/__pycache__
infrastructure/cdk_template/cdk.json
infrastructure/cdk_template/cdk.out/
infrastructure/cdk_template/cdk_template/
infrastructure/cdk_template/cdk_out
infrastructure/set_stack_env_vars
infrastructure/template.yaml
infrastructure/node_modules
infrastructure/cdk_template/.venv/
infrastructure/package-lock.json
infrastructure/package.json
infrastructure/cdk_template/template_as_generated_by_cdk.yaml
lambda_functions/__pycache__
lambda_functions/index.py
lambda_functions/*.zip
localstack/
